*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 30px;
}
.comText {
    text-align: center;
    font-size: 17px;
    margin-top: 15px;
}
.styleImage{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 1rem;
    margin-top: 10px;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


.player{
    margin-top: 1rem;
}
.player h1{
    margin-top: 1rem;
    text-align: center;
}
img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border: 3px dashed black;
}

/* score */

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.scoreText{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 2rem;
}

#tie{
    display: none;
    color: red;
    text-align: center;
    margin-top: 10px;
}


/* Responsive styles  */

@media (max-width:394px){
    h1{
        font-size: 18px;
    }
    .images{
       flex-wrap: wrap;
    }
}